@CHARSET "UTF-8";
body, ul, ol, h1, h2, form, td, th {
	margin:0;
	padding:0;
	list-style:none;
}
body {
	font:small/normal arial;
	font-size:small;
	text-align:center;
}
a {
	color:#0052CC;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

/***头部样式***/
#header {
	/*height:160px;*/
	width:100%;
	overflow:hidden;
	background:#000;
}
.topbar {
	position:absolute;
	right:0;
	top:5px;
	color:#999999;
	
}
.topbar a{color:#999;margin:0 10px;}
.logo {
	width:190px;
	height:49px;
	float:left;
	background:url(../images/logo.jpg) no-repeat left -5px;
	overflow:hidden;
	margin:17px 10px 0 0;
}
#navbox {
	margin-bottom:15px;
	position:relative;
	border-bottom:5px solid #184C7E;
	height:140px;
	width:960px;
	align:center;
	margin:auto;
}
.mainnav {
	float:left;
	position:absolute;
	bottom:0;
	left:200px;
	
}
.mainnav li {
	float:left;
	margin:0px 4px 0 0;
	width:80px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	background:#75BAFB url(../images/lion.jpg) no-repeat;
	color:#fff;
	font-weight:bold;
	
}
.mainnav li a {
	display:block;
	height:30px;
	color:#676765;
	background:#F4F4F4 url(../images/lioff.jpg) no-repeat;
	font-weight:normal;
}


/**正文部分**/
#mainbody {
	width:100%;
	overflow:hidden;
	background:#fff;
}
#mainc {
	position:relative;
	width:960px;
	align:center;
	margin:auto;
	margin-top: 20px;
	margin-bottom:15px;
}
.main-left{
	float:left;
	position:absolute;
	background:#fff;
	width:600px;
}
.main-right{
	float:left;
	margin-left: 600px;
}


/**正文部分2**/
#mainbody2 {
	width:100%;
	overflow:hidden;
	background:#555;
}
#mainc2 {
	position:relative;
	width:960px;
	align:center;
	margin:auto;
	margin-top: 20px;
	margin-bottom:15px;
}