@CHARSET "UTF-8";

.sidebar2 {width:256px;	float: center; margin:10px 0 0 0; }

.user_login{background:url(../images/user_login2.jpg) left center no-repeat;color:#333;padding:15px 0 0 0;}
.user_login h2{padding:0 0 0 5px;}
.user_login ul{padding:15px 0 0 5px;}
.user_login ul.on{padding:15px 0 0 10px;}
.user_login ul li{height:40px;}
.user_login ul li.on{height:30px;}
.user_login ul li span.input{border:1px solid #B8BDC1;float:left;display:inline;}
.user_login p{padding:0 0 0 25px;height:24px;}
.user_login input{border:none;}
.user_login input.input1{border-top:1px solid #E8E8E8;border-left:1px solid #E8E8E8;width:190px;height:23px;line-height:23px;padding:0 0 0 5px;*margin:-1px  0 0 0;display:block;}
.user_login input.input2{border-top:1px solid #E8E8E8;border-left:1px solid #E8E8E8;width:100px;height:23px;line-height:23px;padding:0 0 0 5px;*margin:-1px  0 0 0;display:block;}
.user_login input.input4{border-top:1px solid #E8E8E8;border-left:1px solid #E8E8E8;width:156px;height:23px;line-height:23px;padding:0 0 0 5px;*margin:-1px  0 0 0;display:block;}
.user_login input.input3{border-top:1px solid #E8E8E8;border-left:1px solid #E8E8E8;width:66px;height:23px;line-height:23px;padding:0 0 0 5px;*margin:-1px  0 0 0;display:block;}
.log_use2{float:left;display:inline;line-height:25px;}
.log_use2w{width:73px;}

.uline{height:1px;background:url(../images/user_login3.gif) no-repeat;font-size:1px;}
.ubutton{padding:14px 0 0 53px;}
.ubutton a.button{display:inline-block;background:url(../images/user_login4.jpg);width:106px;height:33px;line-height:33px;color:#fff;font-size:16px;font-weight:bold; text-align:center;text-decoration:none;}
.ubutton a.button:hover{background:url(../images/user_login411.jpg);}
.ubutton p{padding:8px 0 0 0;}


#content2{margin:8px 0 0 0;color:#333;}
	#left{float:left;display:inline;width:212px;border:1px solid #D5DCE4;height:585px; overflow:hidden;background:url(../images/h2bg.jpg) repeat-x top;}
		.subnavc{padding:3px;}
		.subnavc h2{padding:8px 0 10px 14px;}
		.subnavc dl{}
		.subnavc dt{height:24px;line-height:24px;font-weight:bold;padding:0 0 0 17px;margin:5px 0 0 0;}
		.subnavc dt.lp{padding:0 0 0 30px;}
		.subnavc dt img{margin:0 4px 0 0;}
		.subnavc dd{height:24px;line-height:24px;padding:0 0 0 30px;}
		.subnavc dd:hover{background:url(../images/sublibg.gif) right no-repeat;}
		.subnavc dd.on{background:url(../images/sublibg.gif) right no-repeat;}
		.subnavc a{color:#333; outline:none}
		.subnavc li.beijing{background:url(../images/sublibg.gif) right no-repeat;}
	#right{float:right;display:inline;width:757px;border:1px solid #D5DCE4;height:585px;overflow:auto;background:url(../images/h2bg.jpg) repeat-x top;}
		.location{padding:13px 0 10px 17px;}
		.topnav{padding:5px 0 10px 17px;}
		.topnav h2{}
		.topnav p{line-height:30px;}
		.topnav ul{padding:5px 0 0 0px;}
		.topnav ul li{line-height:24px;padding:0 0 0 9px;background:url(../images/biao2.gif) 0 10px no-repeat;}
		.rtext{height:380px;border:0;margin:5px 10px 10px 17px;font-size:13px;line-height:24px; overflow:auto;}
		.rtext1{height:500px;border:0;margin:5px 10px 10px 17px;font-size:13px;line-height:24px; overflow:auto;}

.clearfix{clear:both;font-size:0px;height:0px;}

.newsmain{}
.ml{float:left;display:inline;width:486px;margin:0 10px 0 0;}
.mll{float:left;display:inline;width:210px;margin:10px 0px 0 15px;}
.mll h3{font-size:12px;}
.mll h3 a{font-weight:normal;}
.mlr{float:right;display:inline;width:210px;margin:10px 15px 0 0px;}
.mlr h3{font-size:12px;}
.mlr h3 a{font-weight:normal;}
.mc{float:left;display:inline;width:220px;}
.mc1{float:left;display:inline;width:218px;}
.mr{float:right;display:inline;width:256px;}
.mr1{float:right;display:inline;width:262px;}

.huia a{color:#333;}

.title2 {
	height:25px;
	line-height:25px;
	background: url(../images/h2bg.jpg)  top center;
	padding:0 19px 0 14px;
	font-size:14px;
	color:#333;
}

.title2 a{font-weight:normal;}

.notice21{margin-top:16px; margin-bottom:20px;}
.notice21 li{ background:url(../images/biao2.gif) no-repeat 0 15px; padding-left:8px; line-height:33px;margin-left:14px; }
.notice3{margin-top:10px; margin-bottom:5px;border-bottom:1px dashed #ccc;padding:0 0 5px 0;}
.notice3 li{line-height:22px;}
.notice4{margin-bottom:12px;}
.notice41{margin-bottom:12px;}
.notice4 li{ background:url(../images/biao2.gif) no-repeat 0 10px; padding-left:8px; line-height:22px; }
.notice41 li{ background:url(../images/biao2.gif) no-repeat 0 15px; padding-left:8px; line-height:33px; }
